<!--?xml version="1.0" encoding="UTF-8"?-->
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>fr.c2is.c2rprox</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/share/c2rprox/c2rproxd</string>
      <string>start</string>
    </array>
    <key>StandardOutPath</key>
    <string>/usr/share/c2rprox/output.log</string>
    <key>StandardErrorPath</key>
    <string>/usr/share/c2rprox/output.log</string>
    <key>Debug</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>Disabled</key>     
    <false/>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
